<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>YuMeBoShi-Forum</title>
     <link rel="stylesheet" href="css/css.css">
     <link rel="stylesheet" href="css/swiper/swiper3.07.min.css"/>
  </head>
  <body>
    <div class="container">
        #parse("/com/forum/template/header.vm")
        <div class="z">
            <div class="pagination">
                <span class="page-active">动漫</span>
                <span>特摄</span>
                <span>日剧</span>
            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="anime">
                            #foreach($poster in $posters)
                            <div class="a" id="$poster.id">
                                <a href="anime/view?id=$poster.id"><img src="image/post/$poster.img" alt="$poster.title"/></a>
                            </div>
                            #end
                            <div id="a-info" class="a-info"></div>
                        </div>
                    </div>
                    <div class="swiper-slide">特摄</div>
                    <div class="swiper-slide">日剧</div>
                </div>
            </div>
        </div>
        #parse("/com/forum/template/footer.vm")
    </div>
    <script src="js/jquery-1.10.1.min.js"></script>
    <script src="js/swiper/swiper3.07.jquery.min.js"></script>
    <script src="js/index.js"></script>
    <script>
        var mySwiper = new Swiper ('.swiper-container', {
            loop: true,
        })
    </script>
  </body>
</html>